////////////////////
//search module skin
.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
	float: left;
}


/* Form text input */

.search-wrapper input {
	width: 25rem;
	padding: 1rem 0.5rem;
	font: bold 1.5rem 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	background: #EEE;
	border-radius: 0.3rem 0 0 0.3rem;
}

.search-wrapper input:focus {
	outline: 0;
	background: #fff;
	box-shadow: 0 0 0.2rem rgba(0, 0, 0, .8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.search-wrapper input:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}


/* Form submit button */

.search-wrapper button {
	overflow: visible;
	position: relative;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 4rem;
	width: 15rem;
	font: bold 1.5rem/4rem 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: white;
	text-transform: uppercase;
	background: #D83C3C;
	border-radius: 0 0.3rem 0.3rem 0;
	text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:hover {
	background: #e54040;
}

.search-wrapper button:active,
.search-wrapper button:focus {
	background: #c42f2f;
	outline: 0;
}

.search-wrapper button:before {
	/* left arrow */
	content: '';
	position: absolute;
	border-width: 0.8rem 0.8rem 0.8rem 0;
	border-style: solid solid solid none;
	border-color: transparent #d83c3c transparent;
	top: 1.2rem;
	left: -0.6rem;
}

.search-wrapper button:hover:before {
	border-right-color: #e54040;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
	border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner {
	/* remove extra button spacing for Mozilla Firefox */
	border: 0;
	padding: 0;
}
