/* line 3, ../sass/style.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 9, ../sass/style.scss */
.cf:after {
  clear: both;
}

/* line 13, ../sass/style.scss */
.cf {
  zoom: 1;
  float: left;
}

/* Form text input */
/* line 21, ../sass/style.scss */
.search-wrapper input {
  width: 25rem;
  padding: 1rem 0.5rem;
  font: bold 1.5rem 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #EEE;
  border-radius: 0.3rem 0 0 0.3rem;
}

/* line 30, ../sass/style.scss */
.search-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.8) inset;
}

/* line 36, ../sass/style.scss */
.search-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* line 42, ../sass/style.scss */
.search-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* line 48, ../sass/style.scss */
.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

/* Form submit button */
/* line 57, ../sass/style.scss */
.search-wrapper button {
  overflow: visible;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 4rem;
  width: 15rem;
  font: bold 1.5rem/4rem 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: white;
  text-transform: uppercase;
  background: #D83C3C;
  border-radius: 0 0.3rem 0.3rem 0;
  text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.3);
}

/* line 73, ../sass/style.scss */
.search-wrapper button:hover {
  background: #e54040;
}

/* line 77, ../sass/style.scss */
.search-wrapper button:active,
.search-wrapper button:focus {
  background: #c42f2f;
  outline: 0;
}

/* line 83, ../sass/style.scss */
.search-wrapper button:before {
  /* left arrow */
  content: '';
  position: absolute;
  border-width: 0.8rem 0.8rem 0.8rem 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 1.2rem;
  left: -0.6rem;
}

/* line 94, ../sass/style.scss */
.search-wrapper button:hover:before {
  border-right-color: #e54040;
}

/* line 98, ../sass/style.scss */
.search-wrapper button:focus:before,
.search-wrapper button:active:before {
  border-right-color: #c42f2f;
}

/* line 103, ../sass/style.scss */
.search-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}
