/*clearfix*/
/* line 6, ../sass/board.scss */
.board:after {
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../sass/board.scss */
.module {
  width: 10rem;
  height: 10rem;
  float: left;
  margin: -0.5rem;
  z-index: 0;
  background: #d9edf7;
}
/* line 18, ../sass/board.scss */
.module:hover {
  border: 1px dotted grey;
}
/* line 20, ../sass/board.scss */
.module:hover .module-content {
  padding: 1.9rem;
}
/* line 23, ../sass/board.scss */
.module:hover .module-option {
  display: block;
  z-index: 20;
}
/* line 29, ../sass/board.scss */
.module.module-disclaimer {
  background: #f2dede;
}
/* line 33, ../sass/board.scss */
.module.module-icon {
  background: none;
}
/* line 36, ../sass/board.scss */
.module.module-2w {
  width: 20rem;
}
/* line 39, ../sass/board.scss */
.module.module-3w {
  width: 30rem;
}
/* line 42, ../sass/board.scss */
.module.module-4w {
  width: 40rem;
}
/* line 45, ../sass/board.scss */
.module.module-2h {
  height: 20rem;
}
/* line 48, ../sass/board.scss */
.module.module-3h {
  height: 30rem;
}
/* line 51, ../sass/board.scss */
.module.module-4h {
  height: 40rem;
}
/* line 55, ../sass/board.scss */
.module .module-content {
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: block;
  float: left;
}
/* line 62, ../sass/board.scss */
.module .module-option {
  position: absolute;
  top: 0rem;
  left: 0;
  min-width: 5rem;
  display: none;
  background-color: lightgrey;
}
/* line 69, ../sass/board.scss */
.module .module-option .fa-arrows,
.module .module-option .fa-thumb-tack {
  display: none;
}

/* line 76, ../sass/board.scss */
.module:hover {
  /*Some cool hover style*/
}

/* line 80, ../sass/board.scss */
.module2 {
  width: 20rem;
  height: 20rem;
}

/* line 85, ../sass/board.scss */
.module-little {
  width: 5rem;
  height: 5rem;
}

/* line 90, ../sass/board.scss */
.module.is-dragging,
.module.is-positioning-post-drag {
  border-color: white;
  background: #09F;
  z-index: 2;
}
