/*clearfix*/
/* line 6, ../sass/board.scss */
.board:after {
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../sass/board.scss */
.module {
  width: 10rem;
  height: 10rem;
  float: left;
  z-index: 0;
  background: #101010;
}
/* line 18, ../sass/board.scss */
.module:hover .module-option {
  display: block;
  z-index: 20;
}
/* line 24, ../sass/board.scss */
.module.module-disclaimer {
  background: red;
}
/* line 27, ../sass/board.scss */
.module.module-icon {
  background: none;
}
/* line 30, ../sass/board.scss */
.module.module-2w {
  width: 20rem;
}
/* line 33, ../sass/board.scss */
.module.module-3w {
  width: 30rem;
}
/* line 36, ../sass/board.scss */
.module.module-4w {
  width: 40rem;
}
/* line 39, ../sass/board.scss */
.module.module-2h {
  height: 20rem;
}
/* line 42, ../sass/board.scss */
.module.module-3h {
  height: 30rem;
}
/* line 45, ../sass/board.scss */
.module.module-4h {
  height: 40rem;
}
/* line 49, ../sass/board.scss */
.module .module-content {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  display: block;
  float: left;
}
/* line 56, ../sass/board.scss */
.module .module-option {
  position: absolute;
  top: -1.7rem;
  left: 0;
  min-width: 5rem;
  display: none;
  background-color: lightgrey;
}
/* line 63, ../sass/board.scss */
.module .module-option .fa-arrows {
  display: none;
}

/* line 69, ../sass/board.scss */
.module:hover {
  /*Some cool hover style*/
}

/* line 73, ../sass/board.scss */
.module2 {
  width: 20rem;
  height: 20rem;
}

/* line 78, ../sass/board.scss */
.module-little {
  width: 5rem;
  height: 5rem;
}

/* line 83, ../sass/board.scss */
.module.is-dragging,
.module.is-positioning-post-drag {
  border-color: white;
  background: #09F;
  z-index: 2;
}
