/* line 3, ../sass/toolbar.scss */
#main-toolbar {
  position: relative;
  display: block;
  min-height: 100vh;
  width: 6rem;
  float: left;
}
/* line 10, ../sass/toolbar.scss */
#main-toolbar li {
  position: relative;
  display: block;
  width: 6rem;
  height: 6rem;
  list-style-type: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjQ1cHgiIGN5PSI0NXB4IiByPSIzMCUiPjxzdG9wIG9mZnNldD0iMzMuMzMzMzMlIiBzdG9wLWNvbG9yPSIjMjAyMDIwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzAzMDMwIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(45px 45px, #202020 10px, #303030 30px);
  background-image: -webkit-radial-gradient(45px 45px, #202020 10px, #303030 30px);
  background-image: radial-gradient(45px 45px, #202020 10px, #303030 30px);
}
