#main-toolbar{
	@extend .block;
	min-height: 100vh;
	width: 6rem;
	float: left;

	li{
		@extend .block;
		width: 6rem;
		height: 6rem;
		color:white;
		list-style-type: none;
		cursor:pointer;
		@include background-image(linear-gradient($MenuColor1 0.1rem, $MenuColor2 0.1rem, $MenuColor3 6rem, $MenuColor4 6rem));
	}
}
