@import "compass";
@import "compass/reset";
@import "var";
@import url("https://fonts.googleapis.com/css?family=Arimo");
@import "header";
@import "footer";
@import "toolbar";
@import "board";
html {
	font-size: 10px; //INIT REM DO NOT REMOVE!
	width: 100%;
	min-width: 30rem;
	overflow-x: hidden;
	font-family: Arimo;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

#page,
#main {
	position: relative;
    display: block;
	min-height: 100vh;
	font-size: 1.6rem;
	background-color: $main-color;
	font-family: Arimo;
	@include clearfix;
}

#main {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top:2.5rem;

}

.img-responcive {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
