@import "compass";
@import "var";
#main-toolbar{
	position: relative;
	display: block;
	min-height: 100vh;
	width: 6rem;
	float: left;

	li{
		position: relative;
		display: block;
		width: 6rem;
		height: 6rem;
		list-style-type: none;
		@include background-image(linear-gradient($startlight 0.1rem, $startdark 0.1rem, $endlight 4.7rem, $enddark 4.7rem));
	}
}
