$main-color: #D6DEE3;
$lighter-color: #303030;
$darker-color: #101010;
//Gradient menu variable
$startlight: #4E5050;
$startdark: #282A2A;
$endlight: #282A2A;
$enddark: #4E5050;
//font color
$fCBase: $endlight;
$fCContent: $darker-color;
$fCMenu: $startlight;
// btn color
$auth-btn-color: white;
$auth-btn-border: silver;
$auth-icon-color: silver;
//contextual color
$primary-color: #337ab7;
$success-color:#dff0d8;
$info-color:#d9edf7;
$warning-color:#fcf8e3;
$danger-color:#f2dede;
